<div class="container">
        <div class="menu-area">
            <div class="humbarger" id="humbarger">
                <span class="icon-menu"></span>
            </div>
            <div class="main-menu">
                <nav id="easy-menu">
                    <div id="head-mobile"></div>
                    <div class="button">
                        <i class="icon-menu-button"></i>
                    </div>
                    <ul style="display: none;">
                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <a href="~/Home/index">Home</a>
                        </li>
                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <a href="#">Feature</a>
                            <ul style="display: none;">
                                <li><a href="http://v.bootstrapmb.com/2017/10/2d4xw64/blog-detail-right-sidebar.html">Right Sidebar</a></li>
                                <li><a href="http://v.bootstrapmb.com/2017/10/2d4xw64/blog-detail-left-sidebar.html">Left Sidebar</a></li>
                                <li><a href="http://v.bootstrapmb.com/2017/10/2d4xw64/blog-detail-full-banner.html">Fullwidth</a></li>
                                <li><a href="http://v.bootstrapmb.com/2017/10/2d4xw64/blog-audio-post.html">Audio Post</a></li>
                                <li><a href="http://v.bootstrapmb.com/2017/10/2d4xw64/blog-video-post.html">Video Post</a></li>
                                <li>
                                    <a href="http://v.bootstrapmb.com/2017/10/2d4xw64/blog-quote-post.html">Qoute Post</a>
                                </li>
                                <li><a href="http://v.bootstrapmb.com/2017/10/2d4xw64/blog-gallery-post.html">Gallery Post</a></li>
                                <li><a href="http://v.bootstrapmb.com/2017/10/2d4xw64/blog-map-post.html">Map Post</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Categories </a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="search-box">
                <a href="#" class="search-icon"><span class="icon-search"></span></a>
                <div class="top-search-input-wrap">
                    <span class="close-icon">x</span>
                    <div class="top-search-overlay"></div>
                    <form action="#" method="post">
                        <div class="search-wrap">
                            <div class="search  pull-right educon-top-search">
                                <div class="sp_search_input">
                                    <input name="searchword" maxlength="200" class="pull-right" placeholder="Search Here . . ." type="text">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--/.top-search-input-wrap-->
            </div>
        </div>
        <div class="logo">
            <a href="#">TsBlog<span class="base-color">!</span></a>
        </div>
    </div>
<div class="hidden-sidebar" tabindex="0" style="height: 708px; overflow: hidden; outline: none;">
        <div id="hidden-sidebar-close">
            <span class="icon-icomoon-close"></span>
        </div>
        <div class="sidebar">
            <aside class="widget author-widget text-center">
                <div class="image">
                    <img src="Content/Easy%20Blog_files/author.png" alt="author" class="img-circle">
                </div>
                <div class="widget-title">
                    <h3 class="base-color">About Me</h3>
                </div>
                <p>Nor again an there anyone who loves pu or desires to obtains pain of tself causes occur in toil and pain</p>
                <img src="Content/Easy%20Blog_files/signature.jpg" alt="signature">
            </aside>
            <!--/.author-widget-->
            <aside class="widget recent-post-widget">
                <div class="widget-title"><h3 class="base-color">Recent Post</h3></div>
                <div class="recent-post-item">
                    <div class="image">
                        <img src="Content/Easy%20Blog_files/recent-post1.jpg" alt="recent post">
                    </div>
                    <div class="text">
                        <h4><a href="#">Face is the mirror of your heart</a></h4>
                        <div class="date">22 April,17</div>
                    </div><div class="clear">
                    </div>
                </div>
                <div class="recent-post-item">
                    <div class="image">
                        <img src="Content/Easy%20Blog_files/recent-post2.jpg" alt="recent post">
                    </div>
                    <div class="text">
                        <h4><a href="#">Face is the mirror of your heart</a></h4>
                        <div class="date">22 April,17</div>
                    </div><div class="clear"></div>
                </div><div class="recent-post-item">
                    <div class="image">
                        <img src="Content/Easy%20Blog_files/recent-post3.jpg" alt="recent post">
                    </div>
                    <div class="text">
                        <h4><a href="#">Face is the mirror of your heart</a></h4>
                        <div class="date">22 April,17</div>
                    </div><div class="clear"></div>
                </div>
            </aside>
            <!--/.recent-post-widget-->
            <aside class="widget top-post-widget">
                <div class="widget-title"><h3 class="base-color">Top Rated</h3></div>
                <div class="recent-post-item">
                    <div class="image">
                        <img src="Content/Easy%20Blog_files/recent-post1.jpg" alt="recent post">
                    </div>
                    <div class="text">
                        <h4><a href="#">Face is the mirror of your heart</a></h4>
                        <div class="easy-blog-post-rating">
                            <span style="cursor: default;">
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: hidden;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: hidden;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 50%;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 0px;">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 0px;">
                                        <span></span>
                                    </div>
                                </div>
                            </span>
                            <input type="hidden" class="rating" data-readonly="true" value="2.5">
                        </div>
                    </div><div class="clear"></div>
                </div>
                <div class="recent-post-item">
                    <div class="image"><img src="Content/Easy%20Blog_files/recent-post2.jpg" alt="recent post"></div>
                    <div class="text">
                        <h4><a href="#">Face is the mirror of your heart</a></h4>
                        <div class="easy-blog-post-rating">
                            <span style="cursor: default;">
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: hidden;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: hidden;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 50%;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 0px;">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 0px;">
                                        <span></span>
                                    </div>
                                </div>
                            </span>
                            <input type="hidden" class="rating" data-readonly="true" value="2.5">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="recent-post-item">
                    <div class="image"><img src="Content/Easy%20Blog_files/recent-post3.jpg" alt="recent post"></div>
                    <div class="text">
                        <h4><a href="#">Face is the mirror of your heart</a></h4>
                        <div class="easy-blog-post-rating">
                            <span style="cursor: default;">
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: hidden;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div><div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: hidden;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 50%;">
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 0px;">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="rating-symbol" style="display: inline-block; position: relative;">
                                    <div class="rating-symbol-background glyphicon glyphicon-star-empty" style="visibility: visible;"></div>
                                    <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: 0px;">
                                        <span></span>
                                    </div>
                                </div>
                            </span>
                            <input type="hidden" class="rating" data-readonly="true" value="2.5">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </aside>
            <!--/.recent-post-widget-->
        </div>
    </div>

