<div class="container-fluid no-padding">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="item active">
                <img src="~/Content/images/slider1.jpg" alt="slider" />
                <div class="carousel-caption">
                    <div class="slider-post">
                        <div class="slider-meta-info animated fadeInUp" data-animation="animated fadeInUp">
                            <span>By <a href="#">Admin</a></span>
                            <span>In <a href="#">News</a></span>
                            <span><a href="#">Comment 2</a></span>
                        </div>
                        <div class="slider-heading" data-animation="animated fadeInUp">
                            <h1><a href="#">Running through the busy road</a></h1>
                        </div>
                        <a href="#" class="easy-button-two animated fadeInUp" data-animation="animated fadeInUp">READ MORE</a>
                    </div>
                </div>
            </div>
            <!-- /.item -->
            <!-- Second slide -->
            <div class="item">
                <img src="~/Content/images/slider1.jpg" alt="slider" />
                <div class="carousel-caption">
                    <div class="slider-post">
                        <div class="slider-meta-info" data-animation="animated bounceInRight">
                            <span>By <a href="#">Admin</a></span>
                            <span>In <a href="#">News</a></span>
                            <span><a href="#">Comment 2</a></span>
                        </div>
                        <div class="slider-heading" data-animation="animated fadeInUp">
                            <h1><a href="#">Beauty is just a feeling</a></h1>
                        </div>
                        <a href="#" class="easy-button" data-animation="animated zoomInUp">READ MORE</a>
                    </div>
                </div>
            </div>
            <!-- /.item -->
        </div>
        <!-- /.carousel-inner -->
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span><span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /.carousel -->
</div>
<!-- /.container -->
